* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

/*---------------------------------------------------------main--------------------------------------------*/

.container-centered {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

main {
    height: calc(100vh - 56px);
    background-color: black;
}

#container-bottoni-sopra {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 4px;
}

.bottoni-sopra {
    background-color: #4B4840;
    color: white;
    font-size: 0.7em;
    padding: 2px;
    border-radius: 3px;
    margin-top: 4px;
}

#allarga {
    width: 17.5px;
}

#schermi {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 86%;
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row-schermi {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.schermo {
    width: calc(100% / 7);
    background-image: url("https://picsum.photos/200/88");
    height: 88px;
    position: relative;
}

.utente {
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #4B4840;
    opacity: 80%;
    color: white;
    font-size: 0.7em;
    padding: 3px;
}

/*--------------------------------------------------------footer---------------------------------------------------*/

footer {
    background-color: #222222;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

#blocco-foot-sx,
#blocco-foot-centro,
#end-meeting {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 50px;
    gap: 12px;
}

#blocco-foot-sx,
#blocco-foot-centro {
    padding-bottom: 3px;
}

#blocco-foot-sx {
    margin-left: 12px;
}

.bottone-scritta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    height: calc(100% - 8px);
    margin-top: 4px;
    color: white;
}

.bottone-scritta i {
    height: 80%;
    font-size: 1.35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comando {
    font-size: 0.8em;
}

.bottone-freccia {
    background-color: #222222;
    font-size: 0.5em;
    height: calc(100% - 8px);
    margin-top: 4px;
    color: white;
}

#end-meeting {
    color: red;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4A4A4A;
}